* {
  --color-base: #021322;
  --color-900: #074473;
  --color-700: #005faa;
  --color-300: #76ccff;
  --color-200: #b6e2ff;
  --color-100: #def0ff;
  --color-50: #eff8ff;
}

body {
  background-color: var(--color-base);
  display: flex;
  width: 100%;
  position:inherit;

  section {
    
    padding-inline: 5rem;
    justify-content: space-between;
  }

#content{
  flex-basis: 20%;
  right: 0;

}

}