#hero {
  flex-basis: 20%;
  #nav {
    div {
      padding-left: 2rem;
      span {
        content: "";
        display: block;
        height: 2px;
        width: 2rem;
        position: relative;
        top: 1rem;
        left: 0;
        background: var(--color-50);

      }

      &:hover span {
        border: none;
        width: 4rem;
      }

      &:focus span {
        width: 6rem;
      }

      button {
        display: block;
        width: 16rem;
        background-color: var(--color-500);
        margin-left: 4rem;
        text-align: left;
      }
    }
  }
}