#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;


  

  .HeroNav {
    display: block;




    span:before {
      content: "";
      display: block;
      height: 2px;
      width: 2rem;
      position: relative;
      top: 1rem;
      position: inherit;
      background: var(--color-50);

    }

    button {
      display: block;
      width: 16rem;
      background-color: var(--color-500);
      margin-left: 4rem;
      text-align: left;
    }
  }

  .links{
    display: flex;
    justify-content: space-around;

    img{
      width: 2rem;
      height: 2rem;
      // background-color: red;
    }
  }
}