:root {
  --color-prime-950: #021322;
  --color-prime-900: #074473;
  --color-prime-700: #005faa;
  --color-prime-300: #76ccff;
  --color-prime-200: #b6e2ff;
  --color-prime-100: #def0ff;
  --color-prime-50: #eff8ff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-prime-50);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

